@charset "UTF-8";

:root
{
    --top-bar-height: 36px;

    /*
     * This is used to hide elements that should only show up if JS is enabled.
     */
    --js-visible: hidden;
    --burger-transition-time: .3s;
}

html
{
    height: 100%;

    /*
     * TODO:
     *
     *  Check browser compatibility and releases for the following properties:
     *
     *  scrollbar-width https://css-tricks.com/almanac/properties/s/scrollbar-width/
     *  scrollbar-color https://css-tricks.com/almanac/properties/s/scrollbar-color/
     *  scrollbar-gutter https://css-tricks.com/almanac/properties/s/scrollbar-gutter/
     */
}

.html-like
{
    /* This is to avoid changing position of stuff when a scrollbar appears. */
    margin-right: calc(100% - 100vw);
    overflow-x: hidden;
    width: 100vw;
}

body::-webkit-scrollbar {
    width: 0.2em;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.top-bar .content::-webkit-scrollbar {
    width: 0.2em;
}

.top-bar .content::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.top-bar .content::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body
{
    background-color: var(--main-bg-color);
    margin: 0 auto;
    color: var(--text-color);
    font-size: 20px;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.content-placeholder
{
    display: inline-block;
    width: 100%;
    height: 200%;
}

footer
{
    padding: 0;
    margin: 60px 20px 10px 20px;
    text-align: right;
    font-family: monospace;
    font-size: 12px;
    flex-shrink: 0;
    align-self: flex-end;
    cursor: default;
}

#theme-symbol
{
    text-align: center;
}

/*
 * This is used to hide content that isn't relevant when javascript isn't enabled.
 */
.js-content
{
    visibility: var(--js-visible);
}
