@charset "UTF-8";

/*
 * This stylesheet contains the logic for dealing with higher vs lower resolution displays.
 * The main difference is related to the top bar - it's a sticky bar in high-res, and a burger in
 * low-res.
 */

@media (min-width: 751px)
{
    .body-like
    {
        width: 90%;
        min-width: 750px;
        max-width: 1200px;
        margin: auto;
    }

    #burger-button
    {
        display: none;
    }

    .top-bar
    {
        width: 90%;
        min-height: var(--top-bar-height);
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        background-color: var(--main-bg-color);
        opacity: 0.98;
        margin: 30px auto;

        display: flex;
        justify-content: space-between;
    }

    .top-bar .content
    {
        margin: 0 auto;
        padding-bottom: 10px;
        padding-top: 10px;

        font-weight: bold;
        font-size: 18px;
        font-family: monospace;
        cursor: default;

        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }

    .top-bar .content *
    {
        margin: auto 10px;
    }

    .top-bar .content .bar
    {
        margin: 0 10px;
        width: 0px;
    }

    .top-bar header
    {
        /* margin: 30px auto; */
        cursor: default;
    }

    header h1
    {
        margin: 0 0;
        font-family: monospace;
        font-size: 40px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: 42px;
    }

    header p
    {
        margin: 0 0;
        font-size: 10px;
        font-family: monospace;
        font-style: normal;
        font-variant: normal;
        font-weight: 500;
        line-height: 12px;
    }

    .top-bar .top-left
    {
        display: none;
    }

    #burger-button
    {
        display: none;
    }
}

@media (max-width: 750px)
{
    .body-like
    {
        width: 100%;
    }

    .top-bar
    {
        flex-shrink: 0;
        position: sticky;
        position: -webkit-sticky;
        top: 0px;
        min-height: var(--top-bar-height);
        background-color: var(--main-bg-color);
        opacity: 0.98;

        --burger-visible: hidden;
        --burger-toggle: 0;

        --burger-open-translate: calc(((var(--top-bar-height) - 14px - 3*2px) / 4) + 2px);
        --burger-close-translate: calc(((var(--top-bar-height) - 14px - 2*2px) / 6) + 1px);
    }

    .top-bar .top-left
    {
        position: absolute;
        top: 0;
        left: 0;
    }

    .top-bar .burger
    {
        width: 4em;
        height: calc(var(--top-bar-height) - 14px);

        padding-top: 7px;
        padding-bottom: 7px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    #burger-button
    {
        z-index: -9999;
        opacity: 0;
        position: fixed;
        padding: 0 0;
        margin: 0 0;
        top: 0;
        left: 0;
        width: 80px;
        height: var(--top-bar-height);
    }

    label[for="burger-button"]
    {
        display: block;
        cursor: pointer;
        width: 4em;
        height: var(--top-bar-height);
        z-index: 1;
    }

    #burger-button:checked+.top-bar
    {
        --burger-visible: initial;
        --burger-toggle: 1;
    }

    #burger-button:checked+.top-bar .burger .top-dash,
    #burger-button:checked+.top-bar .burger .middle-dash,
    #burger-button:checked+.top-bar .burger .bottom-dash
    {
        transition: transform calc(var(--burger-transition-time) / 2) ease-out,
                    opacity calc(var(--burger-transition-time) / 2) ease-out;
    }

    .top-bar .burger .top-dash,
    .top-bar .burger .middle-dash,
    .top-bar .burger .bottom-dash
    {
        transition: transform calc(var(--burger-transition-time) / 2) ease-out calc(var(--burger-transition-time) / 2),
                    opacity calc(var(--burger-transition-time) / 2) ease-out calc(var(--burger-transition-time) / 2);
    }

    #burger-button:checked+.top-bar .burger-closer .bar-x-0,
    #burger-button:checked+.top-bar .burger-closer .bar-x-1
    {
        transition: transform calc(var(--burger-transition-time) / 2) ease-out calc(var(--burger-transition-time) / 2);
    }

    .top-bar .burger-closer .bar-x-0,
    .top-bar .burger-closer .bar-x-1
    {
        transition: transform calc(var(--burger-transition-time) / 2) ease-out;
    }

    .top-bar .burger .top-dash
    {
        transform: translateY(calc(var(--burger-toggle) * var(--burger-open-translate)));
        opacity: calc(1 - var(--burger-toggle));
        width: 1.5em;
        height: 2px;
        background-color: var(--text-color);
    }

    .top-bar .burger .middle-dash
    {
        opacity: calc(1 - var(--burger-toggle));

        /*
         * This is a bit weird, but needed to avoid scrolling to the top when the top bar is
         * targeted.
         */
        transform: translateY(0);

        width: 1.5em;
        height: 2px;
        background-color: var(--text-color);
    }

    .top-bar .burger .bottom-dash
    {
        transform: translateY(calc(var(--burger-toggle) * (-1) * var(--burger-open-translate)));
        opacity: calc(1 - var(--burger-toggle));
        width: 1.5em;
        height: 2px;
        background-color: var(--text-color);
    }

    .top-bar .burger-closer
    {
        width: 4em;
        height: calc(var(--top-bar-height) - 14px);

        position: absolute;
        top: 0;
        left: 0;

        padding-top: 7px;
        padding-bottom: 7px;

        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /*
     * Because edge doesn't support CSS ...
     *
     * https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15947692/
     */
    @supports (-ms-flow-from: thingy)
    {
        .top-bar .burger,
        .top-bar .burger-closer
        {
            justify-content: space-around;
        }
    }

    .top-bar .burger-closer .bar-x-0
    {
        /* transform: translateY(5px) rotate(calc(var(--burger-toggle) * 30deg)); */
        transform: translateY(var(--burger-close-translate)) rotate(calc(var(--burger-toggle) * 30deg));
        width: 1.5em;
        height: 2px;
        background-color: var(--text-color);
    }

    .top-bar .burger-closer .bar-x-1
    {
        /* transform: translateY(-5px) rotate(calc(var(--burger-toggle) * -30deg)); */
        transform: translateY(calc((-1) * var(--burger-close-translate))) rotate(calc(var(--burger-toggle) * -30deg));
        width: 1.5em;
        height: 2px;
        background-color: var(--text-color);
    }

    .top-bar .content-container
    {
        position: fixed;
        left: 0;
        top: var(--top-bar-height);
        transition: visibility var(--burger-transition-time) ease-out;
        visibility: var(--burger-visible);
        width: 100%;
    }

    .top-bar .content
    {
        transition: left var(--burger-transition-time) ease-out;
        position: relative;
        left: calc((var(--burger-toggle) - 1) * 100%);
        overflow-x: hidden;
        font-weight: bold;
        font-size: 18px;
        font-family: monospace;
        cursor: default;

        display: flex;
        flex-flow: column nowrap;
        align-items: center;

        background-color: var(--main-bg-color);
        opacity: 0.98;
        height: calc(100vh - var(--top-bar-height));
        overflow-y: auto;
    }

    .top-bar .content *
    {
        margin: 20px 30px;
    }

    header
    {
        margin-bottom: 0px;
        position: fixed;
        top: 0px;
        left: 4em;

        cursor: default;
    }

    header h1
    {
        margin: 0 0;
        font-family: monospace;
        vertical-align: middle;
        font-size: 27px;
        font-style: normal;
        font-variant: normal;
        font-weight: 700;
        line-height: var(--top-bar-height);
    }

    header p
    {
        display: none;
    }
}
